@import "./common/reset";
@import "./common/fonts";

.center {
    margin-left: calc(50% - 490px);
    margin-right: calc(50% - 490px);
}

.header {
    height: 300px;
    display: flex;
    flex-flow: row nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;


    &__title {
        text-align: center;
        font-size: 80px;
        font-family: 'Montserrat', sans-serif;
        color: #FFD700;
        text-shadow: 5px 5px 3px #000;
    }
}

.beer {
    width: 300px;
    height: 300px;
    border-radius: 8px;
    position: relative;

    &__title {
        color: rgba(#FFD700, 0.8);
        width: fit-content;
        text-align: center;
        font-family: 'Dancing Script', cursive;
        font-weight: 600;
        font-size: 36px;
        line-height: 46px;
        padding-top: 32px;
        padding-left: 16px;
        padding-right: 16px;
        text-shadow: 1px 1px 1px #000;
    }

    &__container {
        display: flex;
        flex-flow: row wrap;
        gap: 16px;
        padding-top: 32px;
        padding-bottom: 32px;

    }

    &__blur {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: #FFD700;
        border-radius: 16px;
        z-index: -100;
        transform: scale(1.05);
        filter: blur(20px);
    }

    &__background {
        background-image: url(https://images.unsplash.com/photo-1595600566063-2863388012be?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=300&h=300&q=80);
        width: 100%;
        height: 100%;
        border-radius: 8px;
    }

    &__content {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
    }
}